@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

@layer base {
  body {
    @apply font-[Merriweather];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.home-pic {
  margin: auto;
  width: 500px;
  height: 500px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}
